<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.example.userservice" level="INFO"/>

    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="ERROR"/>
    <logger name="org.hibernate.type.descriptor.sql" level="ERROR"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="ERROR"/>
    <logger name="org.hibernate.orm.connections.pooling" level="ERROR"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
